/* Resetowanie marginesów i paddingów */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Kontener dla strony logowania */
   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Pole logowania */
  .login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Tytuł logowania */
  .login-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Grupa inputów */
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Etykiety inputów */
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
  }
  
  /* Stylizacja inputów */
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Stylizacja przycisku logowania */
  .login-button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #21a1f1;
  }
  
  /* Link do rejestracji */
  .signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  .signup-link a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .signup-link a:hover {
    color: #21a1f1;
  }
  